@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.navbar {
    font-family: 'DM Sans', sans-serif;
}


.logo {
    background: #E6E8EC;
    border-radius: 90px;
    padding: 12px 5px 12px 24px;

}

.logo a {
    color: #444444;
    font-size: 16px;
    font-weight: 700;
}

.logo i {
    padding-right: 10px;
}

.logo a:hover {
    color: #444444;
}

.profile-i i {
    font-size: 20px;
    color: #777E90;
    cursor: pointer;
}

.profile-i i:hover {
    color: #444444;
}

.nav-unq {
    margin-left: 20px;
}

.nav-l {
    border-left: solid 1px #E6E8EC;
    margin-left: 40px;
}

.nav-l li a {
    color: #777E90;
    font-weight: 700;
    margin-right: 25px;
}

.nav-l li a:hover {
    color: #444444;
}

.navbar {
    border-bottom: solid 1px #E6E8EC;
}

/* dashboard */

.dashboard .row .left-col {
    height: 89.8vh;
    background: #FCFCFD;
    border-right: solid 1px #444444;
}

.profile-image {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-image h5 {
    color: black;
    font-family: 'DM Sans', sans-serif;
}

.manage {
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 50px 0;
}

.manage1 {
    color: black;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.manange-divider {
    border: 1px solid black;
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.students {
    line-height: 1rem;
    display: inline-block;
    width: 6.13rem;
    height: 2.31rem;
    color: black;
    left: 1rem;
    margin-top: -2rem;
    border-radius: 30px;
    background-color: #e6e8ec;
    border: none;
    width: 13.13rem;
    height: 3.25rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

.students:hover {
    color: #e6e8ec;
    background-color: black;
}

.industrialist {
    line-height: 1rem;
    display: inline-block;
    width: 6.13rem;
    height: 2.31rem;
    color: black;
    left: 1rem;
    margin-top: -2rem;
    border-radius: 30px;
    background-color: #e6e8ec ;
    border: none;
    width: 13.13rem;
    height: 3.25rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

.industrialist:hover {
    color: #b5c3d9;
    background-color: black;
}

.student-head {
    font-size: 35px;
    font-weight: 700;
    padding: 15px 0 0 10px;
}

.student-head i {
    font-size: 40px;
    padding-right: 5px;
}

.tu-head {
    font-size: 30px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin: 25px 0 10px;
}

.total-user table {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 1rem;
}

.total-user table tr {
    margin: 20px;
}

.total-user .to-us,
.total-user .en-st {
    border: solid 15px #D9D9D9;
    border-radius: 30px;
}

.total-user .to-us tr th,
.total-user .to-us tr td {
    border: solid 1px #D9D9D9;
    background-color: #e6e8ec;
    padding: 5px 50px;
}

.en-st tr th,
.en-st tr td {
    border: solid 1px #D9D9D9;
    background-color: #e6e8ec;
    padding: 5px 40px;
}
/* responsive  */

@media(max-width: 767px) {

    .nav-l li .nav-unq {
        margin: 0;
    }

    .nav-l {
        border: none;
    }

    .profile-i {
        margin-left: 2.4rem;
    }

    /* .total-user-table {
        background: #D9D9D9;
        padding: 20px;
        margin: 0 0;
        border-radius: 1rem;
    } */
}